{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Create Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "CREATE MISI UTAMA" as nav_title %}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
<h1>Form Misi Utama</h1>
<br></br>
<form method="POST">
  {% csrf_token %}
  <label for="nama">Nama Misi Utama:</label>
  <input type="text" id="nama" name="nama">

  <br></br>
  <label for="efek_energi">Efek Energi:</label>
  <input type="number" id="efek_energi" name="efek_energi">

  <br></br>
  <label for="efek_hubungan">Efek Hubungan:</label>
  <input type="number" id="efek_hubungan" name="efek_hubungan">

  <br></br>
  <label for="efek_kelaparan">Efek Kelaparan:</label>
  <input type="number" id="efek_kelaparan" name="efek_kelaparan">

  <br></br>
  <label for="syarat_energi">Syarat Energi:</label>
  <input type="number" id="syarat_energi" name="syarat_energi">

  <br></br>
  <label for="syarat_hubungan">Syarat Hubungan:</label>
  <input type="number" id="syarat_hubungan" name="syarat_hubungan">

  <br></br>
  <label for="syarat_kelaparan">Syarat Kelaparan:</label>
  <input type="number" id="syarat_kelaparan" name="syarat_kelaparan">

  <br></br>
  <label for="completion_time">Completion Time (HH:MM:SS):</label>
  <input type="text" id="completion_time" name="completion_time">

  <br></br>
  <label for="reward_koin">Reward Koin:</label>
  <input type="number" id="reward_koin" name="reward_koin">

  <br></br>
  <label for="reward_xp">Reward XP:</label>
  <input type="number" id="reward_xp" name="reward_xp">

  <br></br>
  <label for="deskripsi">Deskripsi:</label>
  <input type="text" id="deskripsi" name="deskripsi">

  <br></br>
  <button type="submit">SIMPAN</button>
</form>


{% endblock content %}
