{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Create Menjalankan Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "CREATE MENJALANKAN MISI UTAMA" as nav_title %}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
<h1>Create Menjalankan Misi Utama</h1>
<br></br>
<form method="POST">
  {% csrf_token %}
  <label for="tokoh">Nama Tokoh:</label>
  <select id="tokoh" name="tokoh">
    <option value=" "> </option>
    {% for t in tokoh %}
    <option value="{{t.nama}}">{{t.nama}}</option>
    {% endfor %}
  </select>

  <br></br>

  <label for="misi">Nama Misi Utama:</label>
  <select id="misi" name="misi">
    <option value=" "> </option>
    {% for m in misi %}
    <option value="{{m.nama_misi}}">{{m.nama_misi}}</option>
    {% endfor %}
  </select>
    <br></br>
  <button type="submit">SIMPAN</button>
</form>


{% endblock content %}
