{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MISI" as nav_title %}
{% include 'navbar.html' %}
<h1>Misi Utama</h1>
<table>
  {% for res in result %}
  <tr>
    <p>Name: {{ res.nama }}</p>
    <p>Efek Energi: {{ res.efek_energi }}</p>
    <p>Efek Hubungan Sosial: {{ res.efek_hubungan_sosial }}</p>
    <p>Syarat Kelaparan: {{ res.syarat_kelaparan }}</p>
    <p>Completion time: {{ res.completion_time }}</p>
    <p>Reward Koin: {{ res.reward_koin }}</p>
    <p>Reward XP: {{ res.reward_xp }}</p>
    <p>Description: {{ res.deskripsi }}</p>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
