{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>List Data Menjalankan Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MENJALANKAN MISI UTAMA" as nav_title %}
{% include 'navbar.html' %}
<h1>Menjalankan Misi Utama</h1>
<table>
  <tr>
    {% if role == 'admin' %}
    <th>Username</th>
    {% endif %}
    <th>Tokoh</th>
    <th>Misi</th>
    <th>Status</th>
    {% if role == 'pemain' %}
    <th>Action</th>
    {% endif %}
  </tr>
  {% for res in result %}
  <tr>
    {% if role == 'admin' %}
    <th>{{ res.username_pengguna }}</th>
    {% endif %}
    <th>{{ res.nama_tokoh }}</th>
    <th>{{ res.nama_misi }}</th>
    <th>{{ res.status }}</th>
    {% if role == 'pemain' %}
    {% if res.status != 'Selesai' %}
    <th>[UPDATE]</th>
    {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
