{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Daftar Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MISI" as nav_title %}
{% include 'navbar.html' %}
<h1>Misi Utama</h1>
<table>
  <tr>
    <th>Nama</th>
    <th>Action</th>
  </tr>
  {% for res in result %}
  <tr>
    {% if res.nama_misi != '' %}
    <th>{{ res.nama_misi }}</th>
    <th>
      <div>
       <a href="{% url 'detail-misi-utama' nama=res.nama_misi %}"><b>[DETAILS]</b></a>
       {% if role == 'admin' %}
       {% if res.jumlah_dijalankan == 0 %}
       <a href="{% url 'delete-misi-utama' nama=res.nama_misi %}"><b>[DELETE]</b></a>
       {% endif %}
       {% endif %}
      </div>
    </th>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
