{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Update Menjalankan Misi Utama - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "UPDATE MENJALANKAN MISI UTAMA" as nav_title %}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
<h1>Form Misi Utama</h1>
<br></br>
<form method="POST">
  {% csrf_token %}
  <label for="nama_tokoh">Nama Tokoh:</label>
  <input type="text" id="nama_tokoh" name="nama_tokoh">

  <br></br>
  <label for="nama_misi">Nama Misi:</label>
  <input type="text" id="nama_misi" name="nama_misi">

  <br></br>
  <label for="status">Status:</label>
  <input type="text" id="status" name="status">

  <br></br>
  <button type="submit">SIMPAN</button>
</form>


{% endblock content %}
