{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Tambah Penggunaan Apparel - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "PENGGUNAAN" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container good-form">
    <h1>Tambah Penggunaan Apparel</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label>
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='login' type='submit'>Pakai</button>
        {% if error_msg %}
        <br><br>
        <p style="color: red;">{{ error_msg }}</p>
        {% endif %}
    </form>
</div>
{% endblock content %}
{% block script %}
<script>
// Credit: https://github.com/Tauhid-UAP/Dependent-Dropdown-Tutorial
$(document).ready(function(){

    $('#id_apparel').empty();

    var tokList = JSON.parse('{{ json_tokoh_list | escapejs }}')
    var tokDict = JSON.parse('{{ json_tokoh_apparel | escapejs }}')

    $('#id_tokoh').on('change', function(){
        var tokoh = $('#id_tokoh').val();
        $('#id_apparel').empty();

        var apparels = tokDict[tokoh]; 
        var length = apparels.length;
        var i;

        for(i=0; i < length; i++){
            apparel = apparels[i];
            $('#id_apparel').append(
                `
                <option value="${apparel}">${apparel}</option>
                `
            );
        }
    });
});
</script>
{% endblock script %}
