{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Penggunaan Apparel - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "PENGGUNAAN" as nav_title %}
{% include 'navbar.html' %}
{% if role == 'admin' %}
<h1> List pemakaian apparel untuk semua tokoh </h1>
{% else %}
<h1> List pemakaian apparel untuk tokoh milik {{ name }} </h1>
{% endif%}

<table>
  <tr>
    <th><h6>No.</h6></th>
    {% if role == 'admin'%}
    <th><h6>Username</h6></th>
    {% endif%}
    <th><h6>Nama</h6></th>
    <th><h6>Apparel</h6></th>
    <th><h6>Warna</h6></th>
    <th><h6>Asosiasi Pekerjaan</h6></th>
    <th><h6>Kategori</h6></th>
    {% if role == 'pemain'%}
    <th><h6>Action</h6></th>
    {% endif%}
  </tr>
  {% for char in chars%}
  <tr>
    <th class="counterCell"></th>
    {% if role == 'admin'%}
    <th> {{ char.0 }} </th>
    {% endif%}
    <th> {{ char.1 }} </th>
    <th> {{ char.2 }} </th>
    <th> {{ char.3 }} </th>
    <th> {{ char.4 }} </th>
    <th> {{ char.5 }} </th>
    {% if role == 'pemain'%}
    <th>
        <a href="/menggunakan-apparel/hapus?t={{ char.1 }}&ap={{ char.6 }}">[LEPAS]</a>
    </th>
    {% endif%}
  </tr>
  {% endfor %}
</table>
{% endblock content %}

