{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Penghapusan Gagal - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KULIT" as nav_title %}
{% include 'navbar.html' %}
<h1 style="color: red;"> Penghapusan warna kulit gagal karena ada tokoh yang memilikinya </h1>
<b> Daftar tokoh pengguna [ format: tokoh (username) ]: </b><br>
{% for char in chars %}
<span> • {{ char.0 }} ({{ char.1 }}) </span><br>
{% endfor %}
{% endblock content %}
