{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Warna Kulit - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KULIT" as nav_title %}
{% include 'navbar.html' %}
<h1> List Warna Kulit</h1>
<table>
  <tr>
    <th><h6>No.</h6></th>
    <th><h6>Kode</h6></th>
    {% if role == 'admin'%}
    <th><h6>Action</h6></th>
    {% endif%}
  </tr>
  {% for kul in kulit%}
  <tr>
    <th class="counterCell"></th>
    <th> {{ kul.0 }} </th>
    {% if role == 'admin'%}
    <th>
        <a href="/kulit/hapus?k={{ kul.1 }}">[HAPUS]</a>
    </th>
    {% endif%}
    </th>
  </tr>
  {% endfor %}
</table>
{% endblock content %}

