{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Home - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "HOME" as nav_title %}
{% include 'navbar.html' %}
{% if name %}
<p align="center">
<a href="https://www.youtube.com/watch?v=K3Qzzggn--s">
  <img class="kel_happy" src="{% static 'assets/kel_happy.gif' %}" alt="Keep this please" width="318" />
</a>
<h1 align="center"> The Cims Homepage </h1>
<h2 class="fg-acc" align="center"> Nama: {{ name }} </h2>
<h2 class="fg-acc" align="center"> Peran: {{ role }} </h2>
{% if role == 'pemain' %}
<br>
<h1 align="center"> Pemain Info </h1>
<h2 class="fg-info" align="center"> Email: {{ email }} </h2>
<h2 class="fg-info" align="center"> No HP: {{ nohp }} </h2>
<h2 class="fg-info" align="center"> Koin: {{ koin }} </h2>
{% endif %}
<!--
<br><br>
<button type="button" class="btn-warning" onclick="location.href='/logout';">Log Out</button>
-->
</p>
{% else %}
<p align="center">
<a href="https://www.youtube.com/watch?v=yPYZpwSpKmA">
  <img class="logo_name" src="{% static 'assets/logo_name.png' %}" alt="logo_name" width="384" />
</a>
<h3 align="center"><a class="fg-1" href="/login">Login Untuk Main</a></h3>
<!--
<br><br>
<button type="button" class="btn-primary" onclick="location.href='/login';">Log In</button>
<button type="button" class="btn-primary" onclick="location.href='/signup';">Sign Up</button>
-->
</p>

{% endif %}

{% endblock content %}
