{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Create Makanan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "CREATE MAKANAN" as nav_title %}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
<h1>Form Makanan</h1>
<br></br>
<form method="POST">
  {% csrf_token %}
  <label for="nama">Nama Makanan:</label>
  <input type="text" id="nama" name="nama">

  <br></br>
  <label for="harga">Harga:</label>
  <input type="number" id="harga" name="harga">

  <br></br>
  <label for="tingkat_energi">Tingkat Energi:</label>
  <input type="number" id="tingkat_energi" name="tingkat_energi">

  <br></br>
  <label for="tingkat_kelaparan">Tingkat Kelaparan:</label>
  <input type="number" id="tingkat_kelaparan" name="tingkat_kelaparan">

  <br></br>
  <button type="submit">SIMPAN</button>
</form>


{% endblock content %}
