{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Daftar Makanan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MAKANAN" as nav_title %}
{% include 'navbar.html' %}
<h1>Makanan</h1>
<table>
  <tr>
    <th>Nama</th>
    <th>Harga</th>
    <th>Tingkat Energi</th>
    <th>Tingkat Kelaparan</th>
    {% if role == 'admin' %}
    <th>Action</th>
    {% endif %}
  </tr>
  {% for res in result %}
  <tr>
    <th>{{ res.nama }}</th>
    <th>{{ res.harga }}</th>
    <th>{{ res.tingkat_energi }}</th>
    <th>{{ res.tingkat_kelaparan }}</th>
    {% if role == 'admin' %}
    <th>
      <div>
        <a href="{% url 'update-makanan' nama=res.nama %}"><b>[UPDATE]</b></a>
        {% if res.jumlah_dimakan == 0 %}
        <a href="{% url 'delete-makanan' nama=res.nama %}"><b>[DELETE]</b></a>
        {% endif %}
      </div>
    </th>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
