{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Update Makanan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "UPDATE MAKANAN" as nav_title %}
{% include 'navbar.html' %}
<h1>Form Ubah Makanan</h1>
{% for res in result %}
<form method="POST">
  {% csrf_token %}
  <label for="nama">Nama Makanan: {{ res.nama }}</label>
  <input type="hidden" id="nama" name="nama" value="{{ res.nama }}">

  <br></br>
  <label for="harga">Current Harga: {{ res.harga }}</label><br>
  <input type="number" id="harga" name="harga">

  <br></br>
  <label for="tingkat_energi">Current Tingkat Energi: {{ res.tingkat_energi }}</label>
  <input type="number" id="tingkat_energi" name="tingkat_energi">

  <br></br>
  <label for="tingkat_kelaparan">Current Tingkat Kelaparan: {{ res.tingkat_kelaparan }}</label>
  <input type="number" id="tingkat_kelaparan" name="tingkat_kelaparan">

  <br></br>
  <button type="submit">SIMPAN</button>
</form>
{% endfor %}

{% endblock content %}
