{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Create Bekerja - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "BEKERJA" as nav_title %}
{% include 'navbar.html' %}

<div class="text-center mt-5">
    <form style ="max-width:480px; margin:auto">
        <h1 class="h3 mb-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px; font-weight: 300;">BUAT BEKERJA ({{ name }})</h1>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Tokoh</th>
                        <th>Nama Pekerjaan</th>
                        <th>Base Salary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for res in buatbekerja %} 
                <tr>
                    <td class="counterCell"></td>
                    <td>{{ res.nama }}</td>
                    <td>{{ res.pekerjaan }}</td>
                    <td>{{ res.base_honor }}</td>
                    <td>
                        <div class="mt-3" draggable="true">
                            <a class="btn btn-lg btn-primary btn-block" href="/bekerja/execute?tokoh={{ res.nama }}&pekerjaan={{ res.pekerjaan }}"><b>Mulai Bekerja</b></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    
    </form>
</div>
{% endblock content %}