{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Bekerja - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "BEKERJA" as nav_title %}
{% include 'navbar.html' %}

{% if role == 'admin' %}
<h1>Daftar Bekerja</h1>
{% else %}
<h1>Daftar Bekerja ({{ name }}) </h1>
{% endif%}

<div>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                {% if role == 'admin' %}
                    <th>Username Pemain</th>
                {% endif %}
                <th>Nama Tokoh</th>
                <th>Nama Pekerjaan</th>
                <th>Timestamp</th>
                <th>Keberangkatan Ke</th>
                <th>Honor</th>
            </tr>
        </thead>
        <tbody>
        {% for res in bekerja %} 
        <tr>
            <td class="counterCell"></td>
            {% if role == 'admin' %}
                <td>{{ res.username_pengguna }}</td>
            {% endif %}
            <td>{{ res.nama_tokoh }}</td>
            <td>{{ res.nama_pekerjaan }}</td>
            <td>{{ res.timestamp }}</td>
            <td>{{ res.keberangkatan_ke }}</td>
            <td>{{ res.honor }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}