{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>Create Makan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "CREATE MAKAN" as nav_title %}
{% include 'navbar.html' %}
{% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

{% endif %}
<h1>Create Makan</h1>
<br></br>
<form method="POST">
  {% csrf_token %}
  <label for="tokoh">Nama Tokoh:</label>
  <select id="tokoh" name="tokoh">
    <option value=" "> </option>
    {% for t in tokoh %}
    <option value="{{t.nama}}">{{t.nama}}</option>
    {% endfor %}
  </select>

  <br></br>

  <label for="makanan">Nama Makanan:</label>
  <select id="makanan" name="makanan">
    <option value=" "> </option>
    {% for m in makanan %}
    <option value="{{m.nama}}">{{m.nama}}</option>
    {% endfor %}
  </select>
    <br></br>
  <button type="submit">SIMPAN</button>
</form>


{% endblock content %}
