{% extends 'main.html' %} {% load static %}

{% block meta %}
<title>List Data Aktivitas Makan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MAKAN" as nav_title %}
{% include 'navbar.html' %}
<h1>Makan</h1>
<table>
  <tr>
    {% if role == 'admin' %}
    <th>Username</th>
    {% endif %}
    <th>Tokoh</th>
    <th>Makanan</th>
    <th>Waktu</th>
  </tr>
  {% for res in result %}
  <tr>
    {% if role == 'admin' %}
    <th>{{ res.username_pengguna }}</th>
    {% endif %}
    <th>{{ res.nama_tokoh }}</th>
    <th>{{ res.nama_makanan }}</th>
    <th>{{ res.waktu }}</th>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
