{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Create Menggunakan Barang - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MENGGUNAKAN BARANG" as nav_title %}
{% include 'navbar.html' %}

<div class="text-center mt-5">
    <form style ="max-width:480px; margin:auto" action="" method="POST">
        <h1 class="h3 mb-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px; font-weight: 300;">FORM BUAT MENGGUNAKAN BARANG ({{ name }})</h1>
        
        {% csrf_token %}
        {% for field in form %}
        <label for= "form-label"class="sr-only">{{ field.label }}:</label>
        <br>
        {{ field }}
        <br><br>
        {% endfor %}

        <div class="mt-3" draggable="true">
            <button class="btn btn-lg btn-primary btn-block" name='login' type='submit'>PAKAI</button>
        </div>

        {% if error %}
        <br><br>
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock content %}

{% block script %}
<script>
// Credit: https://github.com/Tauhid-UAP/Dependent-Dropdown-Tutorial
$(document).ready(function(){

    $('#id_barang').empty();

    var tokList = JSON.parse('{{ json_tokoh_list | escapejs }}')
    var tokDict = JSON.parse('{{ json_tokoh_barang | escapejs }}')

    $('#id_tokoh').on('change', function(){
        var tokoh = $('#id_tokoh').val();
        $('#id_barang').empty();

        var barangs = tokDict[tokoh]; 
        var length = barangs.length;
        var i;

        for(i=0; i < length; i++){
            barang = barangs[i];
            $('#id_barang').append(
                `
                <option value="${barang}">${barang}</option>
                `
            );
        }
    });
});
</script>
{% endblock script %}