{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Menggunakan Barang - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "MENGGUNAKAN BARANG" as nav_title %}
{% include 'navbar.html' %}

{% if role == 'admin' %}
<h1>Daftar Menggunakan Barang</h1>
{% else %}
<h1>Daftar Menggunakan Barang ({{ name }}) </h1>
{% endif%}

<div>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                {% if role == 'admin' %}
                    <th>Username Pemain</th>
                {% endif %}
                <th>Nama Tokoh</th>
                <th>Nama Barang</th>
                <th>Waktu</th>
            </tr>
        </thead>
        <tbody>
        {% for res in menggunakanbarang %} 
        <tr>
            <td class="counterCell"></td>
            {% if role == 'admin' %}
                <td>{{ res.username_pengguna }}</td>
            {% endif %}
            <td>{{ res.nama_tokoh }}</td>
            <td>{{ res.nama }}</td>
            <td>{{ res.waktu }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}