{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Level - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "LEVEL" as nav_title %}
{% include 'navbar.html' %}
<h1> List Level </h1>
<table>
  <tr>
    <th><h6>No.</h6></th>
    <th><h6>Level</h6></th>
    <th><h6>Syarat XP</h6></th>
    {% if role == 'admin'%}
    <th><h6>Action</h6></th>
    {% endif%}
  </tr>
  <tr>
    <!-- Special case for level 1. Do not update or delete the lowest level -->
    <th class="counterCell"></th>
    <th> 1 </th>
    <th> 0 </th>
    {% if role == 'admin'%}
    <th> DEFAULT </th>
    {% endif%}
  </tr>
  {% for lv in level %}
  <tr>
    <th class="counterCell"></th>
    <th> {{ lv.0 }} </th>
    <th> {{ lv.1 }} </th>
    {% if role == 'admin'%}
    <th>
      <a href="/level/update?l={{ lv.0 }}">[UPDATE]</a>
      <br>
      <a href="/level/hapus?l={{ lv.0 }}">[HAPUS]</a>
    </th>
    {% endif%}
    </th>
  </tr>
  {% endfor %}
</table>
{% endblock content %}

