{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Update Level - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "LEVEL" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container good-form">
    <h1>Update syarat XP</h1>
    <label class="form-label">Level:</label>
    <p><b>{{ level }}</b></p>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label> 
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='login' type='submit'>Update</button>
        {% if error_msg %}
        <br><br>
        <p style="color: red;">{{ error_msg }}</p>
        {% endif %}
    </form>
</div>
{% endblock content %}
