body {
  background-color: #1a1a1a;
  color: white;
  font-size: 1em;
}

a {
  color: #d7d7d7;
}

.header {
  font-size: 2em;
  text-align: center;
}

.title {
  font-size: 1.5em;
  text-align: center;
}

.sub {
  font-size: 1.25em;
  text-align: center;
}

.normal {
  font-size: 1em;
  text-align: center;
}

.logo {
  max-width: 40%;
  height: auto;
}

.hello {
  padding-bottom: 4px;
}

.note {
  color: #808080;
}

.line {
  height: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-width: 0;
  background-color: #d7d7d7;
  opacity: 1;
}

.button-main {
  border: 0px solid #1a1a1a;
  border-color: #1a1a1a; 
  color: #ffffff;
  width: 100px;
  padding: 5px 12px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.button-alt {
  border: 0px solid #1a1a1a;
  border-color: #1a1a1a; 
  color: #ffffff;
  width: 100px;
  padding: 5px 12px 5px 5px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.add{
color: white;
background-color: #4e8e00;
}

.add:hover {
color: white;
background-color: #5ca800;
}
.add:active {
color: white;
background-color: #407500;
}

.edit {
color: white;
background-color: #edd400;
}

.edit:hover {
color: white;
background-color: #ffe507;
}

.edit:active {
color: white;
background-color: #d4bd00;
}

.del{
color: white;
background-color: #cc241d;
}

.del:hover {
color: white;
background-color: #ef2929;
}

.del:active {
color: white;
background-color: #aa0000;
}

.alert-main {
background-color: #1a1a1a;
color: #ef2929;
}

.alert-alt {
background-color: #1a1a1a;
color: #729fcf;
}

.fixed-bottom {
  padding-bottom: 2rem;
}

.button-bottom {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 20%;
  font-size: xx-large;
  float: right;
  margin-right: 2rem;
}

.bg-1{
  background-color: #1a1a1a;
}

.bg-2{
  background-color: #222222;
}

.bg-3 {
  background-color: #262626;
}

.bg-4 {
  background-color: #2b2b2b;
}

.bg-5 {
  background-color: #323232;
}

.fg-1 {
  color: #ffffff;
}

.fg-2 {
  color: #d7d7d7;
}

.fg-acc {
  color: #73d216;
}

.fg-info {
  color: #edd400;
}

.fg-warn {
  /* Gruvbox's light red color */
  color: #fb4934;
}

/* Overriding navbar color */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
          background-image:none !important;
          background-color: #d7d7d7;
}
.dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
          background-image:none !important;
          background-color: #808080;
          color: #000000
}

.good-form {
  width: 512px;
  background-color: #262626;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #d7d7d7;
  border-radius: 20px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px; 
  counter-reset: tableCount;    
}

th, td {
  border: 2px solid white;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px; 
}

.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}

