{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Buat Tokoh - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "TOKOH" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container good-form">
    <h1>Buat Tokoh</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label> 
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='login' type='submit'>Buat</button>
        {% if error_msg %}
        <br><br>
        <p style="color: red;">{{ error_msg }}</p>
        {% endif %}
    </form>
</div>
{% endblock content %}
