{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Tokoh - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "TOKOH" as nav_title %}
{% include 'navbar.html' %}
{% if is_allowed %}
<h1> Detail Tokoh </h1>
<table>
  {% for info in infos %}
  <tr>
    <p>Nama: {{ info.0 }}</p>
    <p>Pemilik: {{ info.1 }}</p>
    <p>ID Rambut: {{ info.2 }}</p>
    <p>ID Mata: {{ info.3 }}</p>
    <p>ID Rumah: {{ info.4 }}</p>
    <p>Warna Kulit: {{ info.5 }}</p>
    <p>Pekerjaan: {{ info.6 }}</p>
  </tr>
  {% endfor %}
</table>
{% else %}
<h1> Error </h1>
<p> Halaman tidak dapat diakses karena salah satu dari alasan berikut: </p>
<p> • Query url tidak lengkap </p>
<p> • Nama pemain dan tokoh tidak ditemukan </p>
<p> • Pemain tidak dapat melihat tokoh dari pemain lain </p>
{% endif %}
{% endblock content %}
