{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Tokoh - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "TOKOH" as nav_title %}
{% include 'navbar.html' %}
{% if role == 'admin' %}
<h1> List semua tokoh </h1>
{% else %}
<h1> List tokoh untuk {{ name }} </h1>
{% endif%}
<table>
  <tr>
    <th><h6>No.</h6></th>
    {% if role == 'admin'%}
    <th><h6>Username</h6></th>
    {% endif%}
    <th><h6>Nama</h6></th>
    <th><h6>Jenis Kelamin</h6></th>
    <th><h6>Status</h6></th>
    <th><h6>XP</h6></th>
    <th><h6>Energy</h6></th>
    <th><h6>Kelaparan</h6></th>
    <th><h6>Hubungan Sosial</h6></th>
    <th><h6>Level</h6></th>
    <th><h6>Sifat</h6></th>
    <th><h6>Action</h6></th>
  </tr>
  {% for char in chars%}
  <tr>
    <th class="counterCell"></th>
    {% if role == 'admin'%}
    <th> {{ char.0 }} </th>
    {% endif%}
    <th> {{ char.1 }} </th>
    <th> {{ char.2 }} </th>
    <th> {{ char.3 }} </th>
    <th> {{ char.4 }} </th>
    <th> {{ char.5 }} </th>
    <th> {{ char.6 }} </th>
    <th> {{ char.7 }} </th>
    <th> {{ char.8 }} </th>
    <th> {{ char.9 }} </th>
    <th>
        <a href="/tokoh/detail?u={{ char.0 }}&t={{ char.1 }}">[DETAILS]</a>
        {% if role == 'pemain'%}
        <br>
        <a href="/tokoh/update?t={{ char.1 }}">[UPDATE]</a>
        {% endif %}
    </th>
  </tr>
  {% endfor %}
</table>
{% endblock content %}

