{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Signup Sukses - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "SIGNUP" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container" style="margin-top: 50px;">
    <h1 align="center">Akun telah berhasil dibuat</h1>
    <h3 align="center"><a class="fg-1" href="/login">Login dengan akun baru</a></h3>
</div>
{% endblock content %}
