{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Signup Sebagai Admin - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "SIGNUP" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container good-form">
    <h1>Signup Sebagai Admin</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label> 
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='login' type='submit'>Signup</button>
    </form>
    <p style="color: red;">{{ error_msg }}</p>

</div>
{% endblock content %}
