{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Login - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "LOGIN" as nav_title %}
{% include 'navbar.html' %}
<div align="center" class="container good-form">
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label> 
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='login' type='submit'>Login</button>
    </form>
    <p style="color: red;">{{ error_msg }}</p>
    <p style="color: green;"><a href="/signup/admin">Buat akun admin</a></p>
    <p style="color: green;"><a href="/signup/pemain">Buat akun pemain</a></p>
</div>
{% endblock content %}
