{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Create Kategori Apparel - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KATEGORI APPAREL" as nav_title %}
{% include 'navbar.html' %}

<div align="center" class="container good-form">
    <h1>FORM BUAT KATEGORI APPAREL</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class="form-label">{{ field.label }}:</label>
        <br>
        {{ field }}
        <br><br>
        {% endfor %}
        <button class="btn btn-primary" name='kategori_apparel' type='submit'>SIMPAN</button>
        {% if messages %}
        <br><br>
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock content %}