{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Kategori Apparel - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KATEGORI APPAREL" as nav_title %}
{% include 'navbar.html' %}

<h1>List Kategori Apparel</h1>
<table>
  <tr>
    <th>Nama Kategori</th>
    {% if role == 'admin'%}
    <th>Action</th>
    {% endif %}
  </tr>
  {% for res in result %}
  <tr>
    <th>{{ res.nama_kategori }}</th>
    {% if role == 'admin' %}
      {% if res.deleteable %}
        <th><a class="btn btn-danger" href="{% url 'delete-kategori-apparel' key=res.nama_kategori %}"><b>Delete</b></a></th>
      {% else %}
        <th></th>
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
