{% extends 'main.html' %} {% load static %} 
{% block meta %}
<title>Daftar Pekerjaan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "PEKERJAAN" as nav_title %}
{% include 'navbar.html' %}

<h1>Daftar Pekerjaan</h1>
<table>
    <tr>
        <th>No.</th>
        <th>Nama Pekerjaan</th>
        <th>Base Salary</th>
        {% if role == 'admin' %}
            <th>Action</th>
        {% endif %}
    </tr>

    {% for res in pekerjaan %} 
    <tr>
        <td class="counterCell"></td>
        <td>{{ res.nama }}</td>
        <td>{{ res.base_honor }}</td>
        {% if role == 'admin' %}
        <td>
            <div class="pi-draggable btn-group" draggable="true">
                <a class="btn btn-primary" href="/pekerjaan/update?nama={{ res.nama }}"><b>Update</b></a>
            </div>

            {% for delete in deletable %}
                {% if res.nama == delete %}
                <div class="pi-draggable btn-group" draggable="true">
                    <a class="btn btn-danger" href="/pekerjaan/delete?nama={{ res.nama }}"><b>Delete</b></a>
                </div>
                {% endif %}
            {% endfor %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}
