{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Update Pekerjaan - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "PEKERJAAN" as nav_title %}
{% include 'navbar.html' %}

<div class="text-center mt-5">

    <h1 class="h3 mb-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px; font-weight: 300;">FORM UPDATE PEKERJAAN</h1>
    <label for= "namapekerjaan" class="sr-only">Nama Pekerjaan:</label>
    <p><b>{{ nama }}</b></p>

    <form style ="max-width:480px; margin:auto" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <label class = "mt-2" for= "basehonor" class="sr-only">{{ field.label }}:</label>
        <br>
        {{ field }}
        <br><br>
        {% endfor %}

        <div class="mt-3" draggable="true">
            <button class="btn btn-lg btn-primary btn-block" name='login' type='submit'>SIMPAN</button>
        </div>
    </form>
</div>
{% endblock content %}