<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>

        {% block meta %}
        {% endblock meta %}
    </head>
    <body>
        <br><br><br>

        <div align="center">
        {% block content %}
        {% endblock content %}
        </div>

        <script src="{% static 'scripts/jquery.min.js' %}"></script>
        <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
