<nav class="navbar navbar-expand-sm navbar-dark bg-4 fixed-top ">
  <div class="container-fluid">
      <a class="navbar-brand">{{ nav_title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
      {% if role == 'admin' %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tokoh</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/tokoh/list">List Tokoh</a></li>
            <li><a class="dropdown-item fg-1" href="/kulit/buat">Buat Warna Kulit</a></li>
            <li><a class="dropdown-item fg-1" href="/kulit/list">List Warna Kulit</a></li>
            <li><a class="dropdown-item fg-1" href="/level/buat">Buat Level</a></li>
            <li><a class="dropdown-item fg-1" href="/level/list">List Level</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pekerjaan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/pekerjaan/create">Buat Pekerjaan</a></li>
            <li><a class="dropdown-item fg-1" href="/pekerjaan/list">List Pekerjaan</a></li>
            <li><a class="dropdown-item fg-1" href="/bekerja/list">List Bekerja</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Misi</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/misi/create-misi-utama">Buat Misi Utama</a></li>
            <li><a class="dropdown-item fg-1" href="/misi/daftar-misi-utama">List Misi Utama</a></li>
            <li><a class="dropdown-item fg-1" href="/misi/create-menjalankan-misi">Buat Menjalankan Misi Utama</a></li>
            <li><a class="dropdown-item fg-1" href="/misi/daftar-menjalankan-misi">List Menjalankan Misi Utama</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Makan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/makanan/create-makanan">Buat Makanan</a></li>
            <li><a class="dropdown-item fg-1" href="/makanan/list-makanan">List Makanan</a></li>
            <li><a class="dropdown-item fg-1" href="/makan/list-makan">List Makan</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Koleksi</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/koleksi/buat-koleksi">Buat Koleksi</a></li>
            <li><a class="dropdown-item fg-1" href="/koleksi/daftar-koleksi">List Koleksi</a></li>
            <li><a class="dropdown-item fg-1" href="/kategori-apparel/create-kategori-apparel">Buat Kategori Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/kategori-apparel/daftar-kategori-apparel">List Kategori Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/koleksi-tokoh/daftar-koleksi-tokoh">List Koleksi Tokoh</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Penggunaan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/menggunakan-apparel/list">List Menggunakan Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/menggunakan-barang/list">List Menggunakan Barang</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      {% elif role == 'pemain' %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tokoh</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/tokoh/buat">Buat Tokoh</a></li>
            <li><a class="dropdown-item fg-1" href="/tokoh/list">List Tokoh</a></li>
            <li><a class="dropdown-item fg-1" href="/kulit/list">List Warna Kulit</a></li>
            <li><a class="dropdown-item fg-1" href="/level/list">List Level</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pekerjaan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/pekerjaan/list">List Pekerjaan</a></li>
            <li><a class="dropdown-item fg-1" href="/bekerja/create">Buat Bekerja</a></li>
            <li><a class="dropdown-item fg-1" href="/bekerja/list">List Bekerja</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Misi</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/misi/daftar-misi-utama">List Misi Utama</a></li>
            <li><a class="dropdown-item fg-1" href="/dummy">Buat Menjalankan Misi Utama</a></li>
            <li><a class="dropdown-item fg-1" href="/dummy">List Menjalankan Misi Utama</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Makan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/makanan/list-makanan">List Makanan</a></li>
            <li><a class="dropdown-item fg-1" href="/dummy">Buat Makan</a></li>
            <li><a class="dropdown-item fg-1" href="/makan/list-makan">List Makan</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Koleksi</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/koleksi/daftar-koleksi">List Koleksi</a></li>
            <li><a class="dropdown-item fg-1" href="/kategori-apparel/daftar-kategori-apparel">List Kategori Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/koleksi-tokoh/create-koleksi-tokoh">Buat Koleksi Tokoh</a></li>
            <li><a class="dropdown-item fg-1" href="/koleksi-tokoh/daftar-koleksi-tokoh">List Koleksi Tokoh</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Penggunaan</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/menggunakan-apparel/buat">Buat Menggunakan Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/menggunakan-apparel/list">List Menggunakan Apparel</a></li>
            <li><a class="dropdown-item fg-1" href="/menggunakan-barang/create">Buat Menggunakan Barang</a></li>
            <li><a class="dropdown-item fg-1" href="/menggunakan-barang/list">List Menggunakan Barang</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Signup</a>
          <ul class="dropdown-menu bg-4" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fg-1" href="/signup/admin">Admin</a></li>
            <li><a class="dropdown-item fg-1" href="/signup/pemain">Pemain</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
