{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Koleksi Mata - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KOLEKSI" as nav_title %}
{% include 'navbar.html' %}

<h1>List Koleksi Mata</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Harga Jual</th>
    <th>Warna Mata</th>
    {% if role == 'admin'%}
    <th>Action</th>
    {% endif %}
  </tr>
  {% for res in result %}
  <tr>
    <th>{{ res.id_koleksi }}</th>
    <th>{{ res.harga }}</th>
    <th>{{ res.warna }}</th>
    {% if role == 'admin'%}
    <td>
        <a class="btn btn-primary" href=""><b>Update</b></a>
        <a class="btn btn-danger" href=""><b>Delete</b></a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
