{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Menu Buat Koleksi - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KOLEKSI" as nav_title %}
{% include 'navbar.html' %}

<div style='font-size: 1.5em; text-align:center;'>
    <br><br>
    <h1>MENU BUAT KOLEKSI</h1>
</div><br>
<div style='font-size: 1.25em; text-align: center; color: white;'>
    <a class="btn btn-primary" href="buat-koleksi-rambut">Rambut</a>
</div>
<div style='font-size: 1.25em; text-align: center; color: white;'>
    <br>
    <a class="btn btn-primary" href="buat-koleksi-mata">Mata</a>
</div>
<div style='font-size: 1.25em; text-align: center; color: white;'>
    <br>
    <a class="btn btn-primary" href="buat-koleksi-rumah">Rumah</a>
</div>
<div style='font-size: 1.25em; text-align: center; color: white;'>
    <br>
    <a class="btn btn-primary" href="buat-koleksi-barang">Barang</a>
</div>
<div style='font-size: 1.25em; text-align: center; color: white;'>
    <br>
    <a class="btn btn-primary" href="buat-koleksi-apparel">Apparel</a>
</div>
{% endblock content %}
