{% extends 'main.html' %} {% load static %} 

{% block meta %}
{% if error == 'deny' %}
  <title>ACCESS DENIED - The Cims</title>
{% elif error == 'error' %}
  <title>Error - The Cims</title>
{% else %}
  <title>Dummy - The Cims</title>
{% endif%}
{% endblock meta %}

{% block content %}
{% if error == 'deny' %}
  {% firstof "DENIED" as nav_title %}
{% elif error == 'error' %}
  {% firstof "ERROR" as nav_title %}
{% else %}
  {% firstof "DUMMY" as nav_title %}
{% endif%}
{% include 'navbar.html' %}
{% if error == 'deny' %}
  <p align="center">
  <a href="https://www.youtube.com/watch?v=rjtak9w_Qw4">
    <img class="kel_sad" src="{% static 'assets/kel_sad.gif' %}" alt="Sad" width="318" />
  </a>
  </p>
  <h1 align="center" style="color: red;">[ACCESS DENIED]</h1>
  {% if role == 'pemain'%}
    <p align="center">Hanya admin yang dapat mengakses halaman ini</p>
  {% elif role == 'admin'%}
    <p align="center">Hanya pemain yang dapat mengakses halaman ini</p>
  {% endif%}
  <p align="center"><a href="/">Kembali ke halaman utama</a></p>
{% elif error == 'error' %}
  <p align="center">
  <a href="https://www.youtube.com/watch?v=q8SKa_9lwwA">
    <img class="tragedy" src="{% static 'assets/tragedy.jpg' %}" alt="tragedy" width="310" />
  </a>
  </p>
  <h1 align="center" style="color: red;">[ERROR]</h1>
  <p align="center"><a href="/">It's a tragedy</a></p>
{% else %}
  <p align="center">
  <a href="https://www.youtube.com/watch?v=s36eQwgPNSE">
    <img class="shrug" src="{% static 'assets/shrug.png' %}" alt="shrug" width="360" />
  </a>
  </p>
  <h1 align="center" style="color: yellow">[HALAMAN BELUM SELESAI]</h1>
  <p align="center"><a href="/">Patience is a virtue</a></p>
{% endif%}
{% endblock content %}
