{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Create Koleksi Tokoh - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KOLEKSI TOKOH" as nav_title %}
{% include 'navbar.html' %}

<div align="center" class="container good-form">
    <h1>FORM BUAT KOLEKSI TOKOH</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="tokoh">Nama Tokoh:</label>
        <select name="tokoh" id="tokoh">
            {% for t in tokoh %}
            <option value="{{ t.nama }}">{{ t.nama }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="id">ID Koleksi:</label>
        <select name="id" id="id">
            {% for i in id %}
            <option value="{{ i.id }}">{{ i.id }}</option>
            {% endfor %}
        </select>
        
        <br><br>
        <button class="btn btn-primary" name='koleksi_tokoh' type='submit'>SIMPAN</button>
        {% if messages %}
        <br><br>
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock content %}