{% extends 'main.html' %} {% load static %} 

{% block meta %}
<title>Daftar Koleksi Tokoh - The Cims</title>
{% endblock meta %}

{% block content %}
{% firstof "KOLEKSI TOKOH" as nav_title %}
{% include 'navbar.html' %}

<h1>List Koleksi Tokoh</h1>
<table>
  <tr>
    <th>No</th>
    {% if role == 'admin'%}
    <th>Username pengguna</th>
    {% endif %}
    <th>Tokoh</th>
    <th>Id Koleksi</th>
    {% if role == 'pemain'%}
    <th>Action</th>
    {% endif %}
  </tr>
  {% for res in result %}
  <tr>
    <th class="counterCell"></th>
    {% if role == 'admin'%}
    <th>{{ res.username_pengguna }}</th>
    {% endif %}
    <th>{{ res.nama_tokoh }}</th>
    <th>{{ res.id_koleksi }}</th>
    {% if role == 'pemain'%}
    <th><a class="btn btn-primary" href=""><b>Jual</b></a></th>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endblock content %}
